<% include ./partials/header %>

<h1>Forgot Password</h1>

<form action="/forgot" method="POST">
    <input type="text" name="email" placeholder="email">
    <button type="submit">Reset Password</button>
</form>

<% include ./partials/footer %>