body {
    background-image: url("https://images.unsplash.com/photo-1504541891213-1b1dfdadb739?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.loginboard {
    background-color: rgba(240,245,230,0.78);
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 50%;
    min-width: 300px;
    font-family: Questrial;
}

.board {
    background-color: rgba(240,245,230,0.78);
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 50%;
    min-width: 300px;
    font-family: Questrial;
}

.databoard {
    background-color: rgba(240,245,230,0.78);
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 50%;
    min-width: 300px;
    font-family: Merriweather;
}

.background-gray {
    background: rgba(240,245,230,0.78);
}
.tocenter {
    text-align: center;
    margin-top: 5%;

}

.togodown {
    padding-top: 7%;
}
.jumbotron {
    margin: 30px auto;
}

.time-slot {
    float: left;
    width: 32%;
}

.time-colon {
    float: left;
    width: 4%;
    margin-top: 5px;
    padding-left: 1.5%;
}
.btn-center {
    margin: auto 30%;
    width: 40%;
}

.new-post {
    width: 50%;
    min-width: 300px;
    margin: 20px auto;
    background-color: rgba(240,245,230,0.78);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}



.companion-div {
    float: left;
    margin-right: 6%;
}

.variable-name {
    width: 30%;
}

.alert-godown {
    margin-top: 1%;
}

.edit-button {
    margin-left: 15%;
}

.deleteform {
    display: inline;
    margin-left: 5%;
}

.message-button {
    padding: 0;
}

.btn-width {
    width: 20%;
}

.data {
    /*font-family: Yeseva One;*/
    font-size: 200%;
}